/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* reset */
html {
  scroll-behavior:smooth; 
}

body {
  font-family: "Inika", serif;
  font-family: "Inter", sans-serif;
  color: #717171;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #010201;
}
ul {
  list-style: none;
}
/* start header */
.wrapper {
  max-width: 1224px; /* применил такую ширину, потому что блок SERVICE не вмещался в 1222px */
  margin: 0 auto;
}
.header {
  background-color: #edf2ec;
}
.navbar {
  width: 1220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 42px;
  padding-bottom: 42px;
}
.logo-item:hover,
.logo-item:active {
  transform: scale(1.5);
  transition: 1.5s all;
} /* эффект наведения для логотипа */

.list-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.list-img__logo,
.list-nav {
  margin: 0;
  padding: 0;
}
.list-nav__item {
  font-family: "Inika";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 50px;
  margin: 0 46px 0 0;
}

.list-nav__item:hover,
.list-nav__item:focus,
.list-nav__item:active {
  /* opacity: 0.55; */
  transform: scale(1.25);
  transition: 0.5s all;
}
.text__orange {
  color: #e06733;
}
.list-nav__item:last-child {
  margin-right: 0;
}
/* end header  */

/* start welcome */
.section-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.welcome-content {
  margin: 98px 0 94px 0;
  width: 549px;
}
.leafs-section-pic {
  margin: 62px 224.2px 62.64px 0;
}
.leafs__pic {
  width: 448.8px;
  height: 407.36px;
}

.welcome-title {
  margin-bottom: 42px;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
}
.text-welcom {
  margin-bottom: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}

.btn-lern__more {
  border: none;
  padding: 0;
  display: block;
  padding: 10px 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid #e06733;
  border-radius: 10px;
}
.btn-lern__more:hover,
.btn-lern__more:active {
  background: #e06733;
  color: #fff;
} /* эффект наведения */

/* end welcome */

/* start about */
.about {
  margin-top: 93px;
  margin-bottom: 94px;
}
.about-content {
  width: 760px;
}
.about-title {
  margin-bottom: 40px;
  width: 463px;
  font-family: "Inika";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
}

.text-about {
  width: 605px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}
/* end about */

/* start service */
.service {
  background: #edf2ec;
}
.service-block-btn {
  margin-top: 29px;
  margin-bottom: 15px;
}
.hed-service {
  width: 1007px;
  padding-top: 40px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
}
.service-title {
  display: block;
  margin-right: 142px;
  width: 306px;
  height: 94px;
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
}
.list-btn-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item-service {
  margin-right: 38px;
  width: 161px;
}

.item-service:last-child {
  margin-right: 0;
}
.link-btn {
  display: block;
  height: 50px;
  padding: 12px 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  border: 1px solid #e06733;
  border-radius: 5px;
  text-align: center;
}
.link-btn:hover,
.link-btn:active {
  background: #e06733;
  color: #fff;
} /* эффект наведения */

.btn-medium {
  padding: 12px 54px;
}

.card-service {
  padding-bottom: 121px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 55px;
  column-gap: 117px;
}

.desc {
  margin-top: -2.5px;
  padding-top: 10px;
  padding-bottom: 36px;
  width: 330px;
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
  text-align: center;
}
.btn-desc {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
}
.subtitle-card-pic {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}
/* end service */

/* start prices */
.section-prices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 115px;
}

.title-dropdown {
  margin-top: 38px;
  margin-bottom: 60px;
  width: 135px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
.prices-box {
  width: 332px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}
.inner {
  margin: 34px 0;
}
.prices-btn {
  margin-bottom: 32px;
  padding: 16px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  width: 250px;
  background: #edf2ec;
  border-radius: 20px;
  border: none;
}
.last-btn-prices {
  margin-bottom: 0;
}
.prices-item {
  display: block;
  text-align: start;
  width: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}
.item-control {
  padding: 6px 5px;
  margin-left: 54px;
  background: #d9d9d9;
  border-radius: 50%;
}
.call-us {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
}
.title-call-us {
  margin: 38px 0;
  width: 452px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
}
.gardeners {
  color: #499a18;
}
.btn-contact {
  margin-bottom: 39px;
  padding: 12px 32px;
  display: block;
  background-color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  text-align: center;
  border: 1px solid #e06733;
  border-radius: 5px;
}
.btn-contact:hover,
.btn-contact:active {
  background: #e06733;
  color: #fff;
} /* эффект наведения */

.pic-call-us {
  width: 152px;
}
/* end prices */

/* start contacts */
.contacts {
  background: #edf2ec;
}
.inner-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
}
.img-contacts {
  margin-top: 53px;

  width: 400px;
}

.title-contacts {
  margin-right: 64px;
  margin-left: 113px;
  margin-top: 60px;
  width: 195px;
  font-family: Inika;
  text-align: start;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
}
.btn-city {
  margin-top: 148px;
  padding: 0;
  width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
}
.btn-city:hover,
.btn-city:active {
  background: #c1e698;
} /* эффект наведения */

.arrow-contacts {
  padding: 6px 5px;
  margin: 17px 35px 17px 0;
  background: #aea1a1;
  border-radius: 50%;
}
/* .arrow-contacts:hover,
.arrow-contacts:active{
transform: rotateX(180deg);
} */
.btn-title {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  margin-right: 175px;
  text-align: start;
  width: 204px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: #717171;
}

/* start footer */
.inner-footer {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.nav-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.item-mnemo {
  margin-right: 20px;
  width: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: black;
}
.item-data {
  margin-right: 20px;
  width: 49px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: black;
}
.link-github {
  margin-right: 13px;
  display: block;
  width: 61px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}
.link-github:hover {
  color: #717171;
}
.link-rss {
  width: 211px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
}
.link-rss:hover {
  color: #717171;
}

.social-list {
  width: 188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* end footer */
